/.vs
/Debug
/ClassesAndObjects/Debug
/ClassesAndObjects/ClassesAndObjects.vcxproj
/ClassesAndObjects/ClassesAndObjects.vcxproj.filters
/ClassesAndObjects/ClassesAndObjects.vcxproj.user

ClassesAndObjects.sln
