/Debug
/PrimeNumberChecker/Debug
/PrimeNumberChecker/PrimeNumberChecker.vcxproj
/PrimeNumberChecker/PrimeNumberChecker.vcxproj.filters
/PrimeNumberChecker/PrimeNumberChecker.vcxproj.user
/.vs
PrimeNumberChecker.sln


